*.tbl
*.o
*.so
*.pyc
*.zip
*.solo
*.cubin
*.out
.metadata
log
mps_testclient
reader
vectorAdd
mpsserver
gpuDBLoader
mqxctl
libmqx
gmon.out
driver.cu
cscope.*
.depend
.vscode/
data/
trace/
gpudb/corun/query_progs
gpudb/corun/output
gpudb/gmm/libgmm.so
gpudb/gpudb/src/cuda/GPUDATABASE
tmp/
