*.tbl
*.o
*.so
*.pyc
*.zip
*.solo
.metadata
gpuDBLoader
mqxtcl
gmon.out
cscope.*
.vscode/
data/
trace/
gpudb/corun/query_progs
gpudb/corun/output
gpudb/gmm/libgmm.so
gpudb/gpudb/src/cuda/GPUDATABASE
tmp/
